body {
  margin: 0;
  background: black;
  color: white;
  text-align: center;
  font-family: Arial;
}

.reader {
  max-width: 800px;
  margin: auto;
}

#manga-image {
  width: 100%;
  max-height: 90vh;
  object-fit: contain;
}

button {
  padding: 10px 15px;
  margin: 10px;
  background: #222;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #444;
}
#manga-container img {
  width: 100%;
  display: block;

  user-select: none;
  -webkit-user-select: none;
}